* {
  font-family: "Press Start 2P";
  box-sizing: border-box;
}
:root {
  font-family: "Press Start 2P", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: black;
}
h1 {
  margin: 0;
  padding: 0;
}
#canvas-container {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-canvas {
  height: 100%;
}

#user-interface {
  display: none;
  position: absolute;
}

#overlay-div {
  background-color: black;
  inset: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
#action-bar {
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: white;
  border-top: 4px solid black;
}
#attacks {
  width: 66.66%;
  border-right: 4px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#attacks button {
  border: 0px;
  font-size: 16px;
}
#attacks button:hover {
  background-color: #ccc;
  cursor: pointer;
}
#attack-type {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#attack-type > h1 {
  font-size: 16px;
}

#enemy-health {
  top: 50px;
  left: 50px;
}

#player-health {
  bottom: 150px;
  right: 50px;
}
.health-container {
  background-color: white;
  position: absolute;
  width: 250px;
  height: 80px;
  border: 4px solid black;
  padding: 15px;
}
.health-container h1 {
  font-size: 16px;
}

.health-bar {
  margin-top: 10px;
  position: relative;
}
.total-health {
  height: 5px;
  background-color: #ccc;
}
.reamining-health {
  height: 5px;
  background-color: green;
  position: absolute;
  inset: 0;
}

#dialog-box {
  position: absolute;
  inset: 0;
  background-color: white;
  padding: 12px;
  cursor: pointer;
  display: none;
}
#continue-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  pointer-events: none;
  display: none;
}
